#chat-screen {
  background-color: white;
  height: 150vh;
}
#chat-screen-bar {
  margin-left: 25px;
}

#chat-screen .alt-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}
#chat-screen .status-bar {
  background-color: white;
  z-index: 2;
}

@keyframes fadeInRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 25px;
  animation: fadeInTop 0.3s linear;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInLeft 0.3s linear;
}

.message-row__img-shopping,
.message-row > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 13px;
  border-radius: 15px;
  font-size: 18px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__bubble-ad {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.message__bubble-ad > img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.message__bubble-ad > span {
  margin: 10px 5px;
  font-weight: 600;
}
.message__bubble-ad button {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 90px;
  padding: 5px 0px;
  cursor: pointer;
}
.message__bubble-ad--btn {
  margin-bottom: 10px;
}

.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
  animation: fadeInRight 0.3s linear;
}
.message-row--own .message__bubble {
  background-color: var(--blue);
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  padding-left: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -12px;
  top: 2px;
}
.reply__column:last-child > i {
  right: 30px;
  top: 10px;
}

.reply__column button {
  background-color: var(--blue);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
  color: white;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 92vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
