.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting-column {
  display: flex;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings-list:first-child .settings__setting:last-child {
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.settings-list:last-child .settings__setting:first-child {
  padding-top: 35px;
}
