.alt-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--horizontal-space);
  padding-top: 50px;
  margin-bottom: 15px;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
