.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 55px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  display: block;
}

.screen-header__icons {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.screen-header__cog-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 650%;
  position: absolute;
  right: -7px;
  top: -7px;
}
